<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <th:block th:fragment="navbar">
        <a th:href="@{/}">Accueil</a>
        <a th:href="@{/signup}"> Signup</a>
        <a th:href="@{/students}">Student list </a>
    <form method="get" th:action="@{/students}">
        <input th:name="search" />
        <button>Search</button>
    </form>
</th:block>

<h1> Welcome to the M2I student test app </h1>

</body>
</html>